<div class="footer-container">
    <div class="logo-container">
        <div class="logo">
            <img src="assets\images\logo-white.png" alt="vfashion_logo" >
        </div>
        <div class="connect-us">
            <a href="https://wa.me/+919527013322" target="_blank">
                <img src="assets\images\wp.png" alt="click to connect on Whatsapp">
              </a>        

              <a href="" target="_blank">
                <img src="assets\images\fb.png" alt="click to connect on facebook">
            </a>

            <a href="tel:+919527013322" target="_blank">
                <img src="assets\images\call.png" alt="click to connect on phone">
            </a>
        </div>        
    </div>
    <div class="line"></div>
    <div class="about-container">
        <div class="about">
          <div>
                <p>Our Services</p>
                <p>About Us</p>   
          </div>    
          <div class="about-2">
        <p> Hand and Machine Embroidery are available for Dresses and Sarees.</p>
        <p>*Terms & Conditions</p>
        </div>
    </div>
    </div>
    <div class="line"></div>
    <div class="address-container">
        <div class="address">
            <div class="add-head"><mat-icon>location_on</mat-icon> Contact Us</div>
            <div class="add"> Shop no. 2, Guruganesh Nagar, Oppo. Vridavan society, New DP Road, Kothrud, Pune - 38</div>
        <br>
        </div>
        <div class="contact-us">
             <div class="number"><mat-icon>call</mat-icon> +91 9527013322</div>
            <div class="name"><mat-icon>face</mat-icon> Vaishali Mali</div>  
        </div>


    </div>
</div>