   .footer-container {
    width: 100%;
    min-height: 400px;
    background-color: #3E003E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0px;
    flex-wrap: wrap;
  }
  
  .footer-container .logo-container {
    display: grid;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding: 0;
    max-width: 350px; 
    }
  
  .footer-container .logo-container .logo img {
    max-width: 55%;
    height: auto;
    margin-top: 10px;
  }
  

  .footer-container .logo-container .logo {
    display: grid;
    align-items: center;
    justify-items: center;
  }
  
  .footer-container .logo-container .connect-us {
    display: flex;
    align-items: center;
    padding: 0px;
    justify-content: center;
  }
  
  .footer-container .logo-container .connect-us img {
    width: 30px;
    height: auto;
    padding: 10px;
    margin-top: 15px;
  }
  
  
  .about-container {
    height: auto;
    text-align: left;
    margin-left: 20px;
    padding: 10px;
    padding-right: 30px;
    padding-top: 0px;
  }
  
  .about-container .about {
    font-size: 27.7px;
    font-weight: bold;
    /* font-family:'RoxboroughCF'; */
  }
  

    .about-container .about-2 p {
    font-size: 18.5px;
    /* font-family: 'TT Ramillas'; */
  }
  
  .about-container .list-item {
    font-size: 32.6px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .about-container .list-item::before {
    content: "•";
    display: inline-block;
    width: 10px;
    margin-left: 10px;
    padding-right: 10px;
    font-size: larger;
  }
  
  .line {
    border: 2px solid white;
    min-width: 214px;
    height: 0px;
  }
  
  .address-container {
    margin-left: 20px;
    height: auto;
    text-align: left;
    padding-right: 30px;
  }
  
  .address-container .address .add-head {
    font-size: 23.4px;
    font-weight: bold;
    padding: 5px;
    padding-top: 20px;
    /* font-family:'RoxboroughCF'; */
  }
  
  .address-container .address .add {
    font-size: 19.5px;
    padding: 5px;
    padding-left: 35px;
    /* font-family: 'TT Ramillas'; */
  }
  
  .address-container .contact-us .number {
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
    padding-top: 15px;
    margin-top: 0px;
    /* font-family: 'TT Ramillas'; */
  }
  
  .address-container .contact-us .name {
    font-size: 23.4px;
    padding: 5px;
    margin-bottom: 10px;
    /* font-family:'RoxboroughCF'; */
  }
  
  @media (min-width: 768px) {
    .footer-container {
      flex-direction:row;
    }
  
    .footer-container .logo-container {
      flex: 1;
    }
  
    .footer-container .about-container {
      flex: 1;
    }
  
    .footer-container .address-container {
      flex: 1;
    }
    .line {
      border: 2px solid white;
      min-height: 300px;
      min-width: 0px;
    }
    .address-container .contact-us .number {
      font-size: 22px;
      font-weight: bold;
      padding: 5px;
      padding-top: 20px;
      margin-top: 10px;
      /* font-family: 'TT Ramillas'; */
    }
    
    .address-container .contact-us .name {
      font-size: 23.4px;
      padding: 5px;
      margin-top: 0px;
      /* font-family:'RoxboroughCF'; */
    }
  }
  