   /* Footer Main Container  */
   .footer-container {
    width: 100%;
    min-height: 400px;
    background-color: #3E003E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0px;
    flex-wrap: wrap;
  }

  
/* logo Container style */
  .logo-container {
    display: grid;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding: 0;
    max-width: 350px; 
    }
  
  .logo img {
    max-width: 55%;
    height: auto;
    margin-top: 10px;
  }

  .logo {
    display: grid;
    align-items: center;
    justify-items: center;
  }

  .connect-us {
    display: flex;
    align-items: center;
    padding: 0px;
    justify-content: center;
  }
  
  .connect-us img {
    width: 30px;
    height: auto;
    padding: 10px;
    margin-top: 15px;
  }

    .connect-us img:hover {
    width: 35px;
    height: auto;
    padding: 7.5px;
    margin-top: 10px;
    transition: .8s ease;
  }
  


  /* About container style */
  .about-container {
    height: auto;
    text-align: left;
    margin-left: 20px;
    padding: 10px;
    padding-right: 30px;
    padding-top: 0px;
  }
  
  .about {
    font-size: 27.7px;
    font-weight: bold;
    font-family:'RoxboroughCF';
    word-spacing: 5px;
    letter-spacing: 1.5px;
    cursor: pointer;
  }
  
  .about-2 {
    font-size: 18.5px;
    font-family: 'TTRamillas';
    word-spacing: 5px;
    letter-spacing: 1.5px;
  }

  .bold {
      font-weight: bold;
  }
   
  .line {
    border: 2px solid white;
    min-width: 214px;
    height: 0px;
  }
  

  /* Address Container style */
  .address-container {
    margin-left: 20px;
    height: auto;
    text-align: left;
    padding-right: 30px;
  }
  
  .add-head {
    font-size: 23.4px;
    font-weight: bold;
    padding: 5px;
    padding-top: 20px;
    font-family:'RoxboroughCF';
    word-spacing: 5px;
    letter-spacing: 1.5px;
  }
  
  .add {
    font-size: 19.5px;
    padding: 5px;
    padding-left: 35px;
    font-family: 'TTRamillas';
    word-spacing: 5px;
    letter-spacing: 1.5px;
  }
  
  .number {
    font-size: 22px;
    padding: 5px;
    padding-top: 15px;
    font-family: 'TTRamillas';
    word-spacing: 5px;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: inherit;
  }
  .number a {
    text-decoration: none;
    color: inherit;
  }
  
  .name {
    font-size: 23.4px;
    padding: 5px;
    margin-bottom: 10px;
    font-family:'RoxboroughCF';
    word-spacing: 5px;
    letter-spacing: 1.5px;  
  }
  

  /* Responsive additional style */
  @media (min-width: 768px) {
    .footer-container {
      flex-direction:row;
    }
  
    .footer-container .logo-container {
      flex: 1;
    }
  
    .footer-container .about-container {
      flex: 1;
    }
  
    .footer-container .address-container {
      flex: 1;
    }
    .line {
      border: 2px solid white;
      min-height: 300px;
      min-width: 0px;
    }
    .number {
      padding-top: 20px;
      margin-top: 10px;
    }
  }
  