    <div class="service-container">
      <div class="heading">
        <p>Our Services</p>
      </div>
    <div class="row">
      <div class="col-sm">
        <div class="service-card">
          <img src="assets\images\card1.png" alt="">
          <P>ANARKALI & PUNJABI</P>
          <div class="line">
            <img src="assets\images\line.png">
            </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="service-card">
          <img src="assets\images\card1.png" alt="">
          <P>ANARKALI & PUNJABI</P>
          <div class="line">
          <img src="assets\images\line.png">
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="service-card">
          <img src="assets\images\card1.png" alt="" >
          <p>ANARKALI & PUNJABI</p>
          <div class="line">
            <img src="assets\images\line.png">
          </div>
        </div>
      </div>
    </div>
  </div>